/* catagories start */
.catagories {
  background: #171c43;
}
.catagories h2 {
  font-size: 22px;
}
.catagories ul {
  background: var(--maintheme);
}
.catagories ul li {
  padding: 10px 0px 10px 15px;
  cursor: pointer;
  position: relative;
}
.catagories ul li:not(:first-child) {
  border-top: 1px solid #171c43;
}
.catagories ul li::after {
  content: url(../../image/page3/arrowblue.png);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.catagories ul li:hover::after {
  opacity: 1;
}
.catagories ul li:hover {
  background-color: #49dc87;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.catagories a {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
  
}

/* catagories end */
